html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: Arial, sans-serif;
  font-weight: 100;
}

//  /* Hide scrollbar for Chrome, Safari and Opera */
//  body::-webkit-scrollbar {
//   display: none;
// }

// /* Hide scrollbar for IE, Edge and Firefox */
// body {
//   -ms-overflow-style: none;  /* IE and Edge */
//   scrollbar-width: none;  /* Firefox */
// } 

header {
  user-select: none;
  padding-bottom: 1rem;;
  border-bottom: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr;

  .left {
    display: grid;
    grid-template-rows: repeat(auto-fill, 1fr);

    h1 {
      margin: 0;
    }

    .parserForm  {
      display: grid;
      grid-template-rows: repeat(auto-fill, 1.5rem);
      margin-left: .5rem;
      
      label {
        display: grid;
        grid-template-columns: 1fr 1fr;
        // min-width: fit-content(100%);
        width: 60%;
        min-width: 20rem;

        input {
          height: inherit;
          max-height: 1rem;
        }
      }

      input[type=submit] {
        width: 10rem;
      }
    }
  }

  .right {
    display: grid;
    grid-template-rows: repeat(auto-fill, 1fr);
    align-items: center;

    .termsForm {
      border: 1px solid black;
      padding: .5rem;
      display: grid;
      grid-template-rows: repeat(auto-fill, 1fr);
      width: 22rem;
      // height: 18vh;
      
      .termsForm-line-flags {
        display: flex;
      }

      .quick-select {
        display: flex;
        align-items: center;
        line-height: 1.5rem;
        justify-content: space-evenly;

        input[type='checkbox']{
          width: 1rem;
          height: 1rem;
        }

        input[type='color']{
          border: none;
          padding: 0;
          width: 1rem;
          height: 1rem;
          margin-right: .3rem;
        }
      }

      .markup-input {
        border-top: 1px solid black;
        padding-top: .3rem;
      }
    }

    .status-message-display {
      display: flex;
      width: 20rem;
      
      .message {
        background: orange;
        margin-left: 1rem;;
      }
    }

    nav {
      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          a:visited {
            color: black;
          }
        }
      }
    }

    .preferencesBtn {

    }
  }
}

//preferences
aside {
  user-select: none;
  width: 98.75vw;
  background: thistle;
  margin-top: -1rem;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  box-shadow: 3px 3px 4px grey;
  display: none;

  .termsList {
    padding: 0;
    list-style: none;
    
    .termsList-term:first-child {
      font-weight: bold;
    }

    .termsList-term {
      display: grid;
      grid-template-columns: 35vw 10vw 35vw 10vw 10vw;
      justify-content: space-between;
      width: 100%;
      justify-items: center;
      align-items: center;
      border-bottom: 1px solid grey;
      height: 2rem;

      .t-string {
        width: 32vw;
      }

      .t-flags {
      }

      .t-markup {
        max-height: 1rem;
      }
    }

    
  }
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: rgb(0,0,0);
  background: rgba(0,0,0,0.4);
  justify-content: center;
  align-items: center;

  .modal-content {
    padding: 1rem;
    background: thistle;
    border: 1px solid black;
    width: 28rem;
    height: 15rem;
    box-shadow: 2px 1px 10px 1px rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-rows: repeat(auto-fill, 1fr);

    .modal-content-choice {
      display: flex;
      justify-content: space-evenly;
      // button {}
    }
  }
}

.modal-update {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: rgb(0,0,0);
  background: rgba(0,0,0,0.4);
  justify-content: center;
  align-items: center;

  .modal-update-content {
    padding: 1rem;
    background: thistle;
    border: 1px solid black;
    width: 25rem;
    height: 10rem;
    box-shadow: 2px 1px 10px 1px rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-rows: repeat(auto-fill, 1fr);
    justify-content: center;
    align-items: center;
    form {
      display: grid;
      gap: 1rem;
    }
  }
}